
{% extends 'JsonTables/layout.html' %}



			{% block content %}
			
			<br/>
			<br/>
			
			
			
				
			<form  id="jsonForm" class="form-inline" action="/JsonTable" >
			
			
			
					<label style="margin-right:10px;">Select Table Name : </label>
			
								<select id="jsonTable" class="form-control" style="    margin-right: 30px;">
										{% for table in tables %}
										<option>
											{{ table.name }}
										</option>
										{% endfor %}
							
								</select>
										
					
					
					<input type="submit" class="form-control btn btn-primary btn-sm" value="Get Table As JSON" />
			
					  	
			
				</form>
		
			
				
			</div>
			
			{% endblock %}